
th {
    font-size: 25px;
    font-family: 'Vollkorn', serif;
    color: #C4B9B9;
}
.thead-dark{
    background-color: black;
}
td{
    font-size: 19px;
    font-family: 'Cinzel', serif;
}
h1{
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 49px;
}
.lawyers th{
    color: red;
    background-color: #E8E7E7;
    font-family: 'Vollkorn', serif;
    padding: 5px;
    text-align: center;
    border: 0.5px solid #797575;
    font-size: 20px;
    width: 130px;
}
table tr td{
    color: black;
    font-family: 'Darker Grotesque', sans-serif;
    padding: 5px;
    text-align: center;
    border: 0.5px solid #797575;
    border-radius: 30px;
}
